  <h1>Pages#home</h1>

  <p>Find me in app/views/pages/home.html.erb</p>

  <div>

  <h1 class="text-primary"> Achieve your goals: we help you to code </h1>
  <h2> Find a teacher </h2>
  <h2> Choose the best time </h2>
  <h2> Code now </h2>

  <h2>Pick from 10 differents code languages</h2>

  </div>
