.show-appointment-text {
  font-size: 18px;
  padding: 2px;
  margin: 0;
}

.div-show-appointment{
  display: flex;
  width: 100%;
  background-color: #ffff;
  padding: 40px;
}

.btn-room {
  font-size: large;
}

.fa-video {
font-size: large;
}
