.btn-main {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
