.simple-calendar {
  .today {
    background-color: #FAF3DD;
  }
}

tr{
  max-height: 600px;
}

.simple-calendar td {
  padding: 0px;
}

.meeting {
  color: white;
  padding: 8px 16px;
  border-radius: 0px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

