.card-home {
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border: transparent;
  height: 450px;
  width: 300px
}

.cards-grid {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  justify-items: center;
}

.card-image-rounded {
  border-radius: 20px 20px 0 0;
}

.list-group-item {
  list-style: none;

}

.card-font {
  font-size: 15px;
}

.main-container {
  display: flex;
}

@media(max-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
