.footer {
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
