.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  justify-content: space-between;
  background: white;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

.logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.nav-link {
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 0;
  margin-top: 7px;
}

.nav-search {
  width: 350px;
}

.nav-btn {
  border-radius: 0 4px 4px 0;
  border: 0;
  margin-top: 0;
  &:hover {
    color:black;
  }
}

.nav-link:hover {
  background-color: rgb(178, 178, 178);
}

.ez2schedule-logo {
  color: #FFF;
  padding: 8px;
  border-radius: 4px;
}
