<div class="container mt-4">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="">
        <h1>Add a new Appointment</h1>
        <div class="mt-3 d-flex" data-controller="teacher-calendar">
         <div class="p-3"> <%= render "calendar", appointments: @appointments, teacher: @teacher %></div>
          <div class="p-3"><%= render "shared/form_new_appointment", appointment: @appointment %></div>
        </div>
      </div>
    </div>
  </div>
</div>
