<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="">
        <h1>Add a new Flat</h1>
        <div class="mt-3">
          <%= render "shared/form_new_appointment", appointment: @appointment %>
        </div>
      </div>
    </div>
  </div>
</div>
